@media only screen and (min-width: 1280px) {
  body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(247, 247, 247, 1) 25%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .headerAndNavWrapper {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .topText {
    font-size: 30px;
    background: -webkit-linear-gradient(#f7f7f7, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  nav {
    display: flex;
    justify-content: space-around;
  }

  .pastExperience,
  .missionStatement,
  .education {
    border: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 16%;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
  }

  .pastExperienceParagraphHidden,
  .missionStatementParagraphHidden,
  .educationParagraphHidden {
    display: none;
  }

  .pastExperienceParagraph {
    display: grid;
    /* position: absolute; */
    width: 65%;
    padding-left: 27%;
    padding-top: 8%;
    font-size: 24px;
    color: white;
    font-weight: bold;
    top: 83%;
  }
  .pasExperienceText {
    margin-top: 26%;
  }

  .missionStatementParagraph {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 20%;
    font-size: 26px;
    top: 36%;
    position: absolute;
  }
  .missionStatementText {
    background: -webkit-linear-gradient(
      rgba(247, 247, 247, 1),
      rgba(0, 212, 255, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .onHoverNav {
    background-color: blue;
    color: white;
    border: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 16%;
    border-radius: 5px;
  }

  .educationParagraph {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    left: 72%;
    top: 22%;
  }

  .columbusStateLogo {
    width: 20%;
  }
  .osuLogo {
    width: 37%;
  }

  .udacityLogo {
    width: 23%;
  }

  .skillsChartDiv {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 75%;
    padding-left: 22.5%;
    margin-top: -5%;
  }

  .funAPIs {
    display: grid;
    width: 20%;
    font-size: 34px;
    background: -webkit-linear-gradient(#f7f7f7, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .chuckNorrisAPI {
    text-align: center;
  }

  .chuckNorrisButton,
  .gitHubButton {
    font-size: 20px;
    border-radius: 3px;
    background-color: whitesmoke;
  }

  .funAPIs {
    text-align: center;
    font-size: 34px;
    background: -webkit-linear-gradient(#f7f7f7, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .chuckNorrisAPI,
  .gitHubAPI,
  .footballAPI,
  .censusAPI {
    text-align: center;
    font-size: 30px;
    background: -webkit-linear-gradient(#f7f7f7, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .chuckNorrisJokeSection,
  .gitHubRepoSection {
    display: grid;
    width: 20%;
    padding-top: 2%;
    font-size: 26px;
    color: white;
  }

  .footballSection {
    margin-top: -4%;
  }
  .footballAPIandButton,
  .censusAPIandButton {
    display: grid;
    width: 20%;
    padding-top: 2%;
    font-size: 26px;
    color: white;
  }
  .footballAPI {
    text-align: center;
    font-size: 30px;
  }

  .footballButton,
  .censusButton {
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 4%;
    background-color: whitesmoke;
  }

  .footballDataHidden,
  .censusDataHidden {
    visibility: hidden;
  }

  .footballData {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: left;
    background: grey;
    width: 100%;
    margin-top: 8%;
    margin-left: -1%;
    padding-left: 2%;
  }

  .censusData {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    justify-items: center;
    margin-left: 25%;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .imagesDiv {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    width: 69%;
    margin-top: 15%;
    margin-left: 25%;
  }

  .mojaveIMG {
    border-radius: 15px 0px 0px 15px;
    width: 84%;
    position: absolute;
    top: 17%;
    left: 26%;
    z-index: -5;
  }

  .roadIMG {
    border-radius: 0px 0px 15px 15px;
    width: 100%;
  }
}
